@model Forum1._0.Models.PostDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>New Post</h3>
            @using (Html.BeginForm("NewPost", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group row">
                        <label for="PostTitle">Topic Name</label>
                        <input type="text" class="form-control" id="PostTitle" name="PostTitle" />
                        @Html.ValidationMessageFor(m => m.PostTitle)
                </div>
                <div class="form-group row">
                    <label for="PostText">Topic Description</label>
                    <textarea class="form-control" id="PostText" rows="10" name="PostText"></textarea>
                    @Html.ValidationMessageFor(m => m.PostText)
                </div>
                <input type="hidden" name="TopicId" value="@Model.TopicId">
                <input type="submit" value="Create" class="btn btn-primary"/>
                @Html.ActionLink("Cancel", "OpenTopic", new { id=Model.TopicId }, new {@class = "btn btn-default"})
            }
        </div>
    </div>
</div>
